<div> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span class="main_heading">Free Flow  Approval (L1)</span>
    </a>
    <!--<span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/about-us">About us</a>
      <a mat-button routerLink="/prices">Prices</a>
      <a mat-button routerLink="/start-page">Start page</a>
      <a mat-button routerLink="/offer">Offer</a>
      <a mat-button routerLink="/contact">Contact</a>
    </div>-->

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <!--search bar start-->
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder=" " value=" ">
                <i class="material-icons search-icon">
                    search
                    </i>
              </mat-form-field>
              </form>
              <!--search bar end-->
              <!--toggle feild start-->
              <div class="sidenav_container">
              <h3>Request Number:000000618</h3>
              <p>Request Date:03-11-2018</p>
              <p>Disclipline:ADM-OPR</p>
              <p>Material:200055103</p>
              <p>Plant:RIL HZ Petrolium Complex(3900)</p>
              <p>Reservation/Item:0001072266/005</p>
              </div>

              <!--toggle feild end-->
              
        <!--<a mat-button routerLink="/about-us">About us</a>
        <a mat-button routerLink="/prices">Prices</a>
        <a mat-button routerLink="/start-page">Start page</a>
        <a mat-button routerLink="/offer">Offer</a>
        <a mat-button routerLink="/contact">Contact</a>-->
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
    <!--expansion pannel start-->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!--expansion pannel deatail start-->
        <div>
          <ul class="ex_pannel_detail">
            <li>Request Number:000000620</li>
            <li>MRP Controller:MIS</li>
            <li>Net Stock:0.000(EA)</li>
            <li>QA Stock:0.00(EA)</li>
            <li>Material Required Date:20-11-2018</li>
          </ul>
          <ul class="ex_pannel_detail">
            <li>Request Date/pending 02-00-2019/2</li>
            <li>Since:</li>
            <li>Plant Shop Floor Location:RIL HZ Petrochemical Complex /HMD-SHP-GEN</li>
            <li>Material:200055081</li>
            <li>Discipline:CRA-MEC</li>
          </ul>
        </div>
<!--expansion pannel deatail end-->
        </mat-expansion-panel>
        </mat-accordion>
<!--expansion pannel end-->
<!--Mat card stert-->
        <mat-card>
          <div>
          <ul class="details_list">
            <li>Reservation Number/Item:0001082291/0008</li>
            <li>Reservation Quantity:1.000</li>
            <li>User Approved Quantity: <form class="example-form">
              <mat-form-field class="example-full-width detail_input">
                <input matInput placeholder=" " value=" ">
              </mat-form-field>
              </form> 
              </li>
            <li>Reason for Rejection (L1):
              <form class="example-form">
                <mat-form-field class="example-full-width detail_input">
                  <input matInput placeholder=" " value=" ">
                </mat-form-field>
                </form> 
            </li>
          </ul>
          </div>
          <div>
            <ul class="details_list">
              <li>Requested By:Snehlata</li>
              <li>Withdrawn Quality:0.000</li>
              <li>Quantity for Approval.000</li>
            </ul>
          </div>
        </mat-card>
<!--description detail end-->
<!--tab menu start-->
<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
<!--tab menu end-->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>