.companyName{
    text-align: center;
  }
  .mat-toolbar[_ngcontent-c0] {
    height: 10vh;
}
    .main_heading{
      font-size: 20px;
      
    }

.mat-toolbar{
  height: 7vh;
}

div {
    overflow: inherit;
}

.mat-sidenav-container{
  
  min-height: 93vh !important;
}

a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

button{
    font-size: 110%;
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-sidenav-content{
      font-size: 200%;
      text-align: center;
  }

  .ex_pannel_detail{
list-style-type: none;
padding: 0;
text-align: left;
font-size: 13px;
  }
  .details_list{
    list-style-type: none;
    font-size: 13px;
    text-align: left;
    padding: 0;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .detail_input{
    width: 50%;
  }
.search-icon{
    float: right;
}  
.sidenav_container h3,p{
margin: 0;
padding: 0;
font-size: 15px;

}